.logo {
  width: 30px;
}
.customNav {
  transition: 0.3s all;
}
.navLink {
  color: white !important;
  text-decoration: none;
  margin-left: 20px;
}
.displayPic {
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}
