.tabNavFont {
  font-size: 1.1em !important;
}

.tabMarginTop {
  margin-top: 6rem;
}

.cardTitleFont {
  font-size: 1.4em !important;
  font-weight: 600 !important;
}

.numberAlert {
  background-color: #d5ebeb;
  border-radius: 25px;
  color: black;
  font-size: 1em;
  padding: 0 5px;
}

.cursor {
  cursor: pointer;
}